<!--Introduction-->
<h1>Info and Tutorial</h1>
<h2>Come here if you have any problems using the software</h2>
<div class="content-container">
<a id="user-content-2-introduction" class="anchor" href="#2-introduction" aria-hidden="true"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd"></path></svg></a>
    <p>The AML-NoSQL-Database-Management is used to upload AML files onto a NoSQL-Database to provide a unified and central solution to manage AML files. </p>
    <p>AML is a file format developed as an exchange format with an open standard.</p>
    <p>From the user point of view, the GUI should have the following functionalities:</p>
    <ol>
    <li>Upload AML files from the user's computer.</li>
    <li>Download files to the computer that have been uploaded.</li>
    <li>Edit saved files with a dialog window and upload the changed version.</li>
    <li>Delete saved files from a list of files.</li>
    <li>Search for existing AML files with the file name.</li>
    </ol>
    <h1>Navigation Bar</h1>
      At the top of the website you can see n orange so called navigation bar or short navbar.
      The nav bar will always appear on on top of the website to allow easy navigation to all sections.
      Starting in the upper left corner, you can see our logo and the name of the software. No functionalities can be found here.
  
    <h2>Changing language</h2>
      In the upper left corner you can find several symbols. Starting from left you can see a flag which shows eithe an american or a german 
      flag.
      You can use this button to select your language.
    <h2>Info page</h2>
      Moving one symbol to the right you can see an 'i' symbol. You can press this button to 
      navigate to the info page.
      The page where you will find yourself will conatin the same explanation text as the user manual you are reading right now.
    <h2>Home</h2>
      The nextitem is a 'Home' button. You can press this button to return to the main page of our software which is also the producctive 
      side.
    <h2>About us</h2>
      The last element in the upper right corner is the 'About Us' section. Clickig there will move you to a sub page where you can learn a 
      little bit more about the team behind the AML NoSQL Database Management.
      You can find pictures of our team members as well as their positions. Also you can find contact information. Feel free to write us an
      e-mail if you have any question or want to give us feedback.
      <br>
    <h1>Main page</h1>
      Let's move to the most important part of the website: the main site. Here you can find the heart of our software: the AML NoSQL Database.
      Startin on the upper right side you can find two buttons. Both are used to get data:
      <h2>Uploading a file</h2>
      The left button which sais 'Upload' is used to upload .aml files from your computer.
      If you click this button you should see a little popup which sais 'Upload file. Here you can upload your AML file.'. Under this texts 
      on the left you can see a little button with 'Choose File'. Right next to the button on the right side is an info text to 
      show your upload status. By default it sais 'No file chosen'.
      In the bottom right corner you will See to buttons. The left one sais 'Cancel' and can be used to abort the upload process. The right 
      one, which is greyed and blocked by default sais 'Upload'.
      To make use of the upload button, you have to press the 'Choose File' button first. Pressing it will open your local file system.
      You can now search your local file system for files you want to upload. Just select them and press confirm. How exactly your file
      system process as well as the confirmation process look depoends on your used Operation-System. Anyways, it should not be bad to 
      be able to handle the upload. After you have selected a file you will see that your selected file is shown at the spot, where 'No 
      file chosen' stood before. Use this to make sure you chose the right file. If yoiu are certain that you selected everythin correctly,
      you can finally press the 'Uplaod' button. You will be redirected to the main page and your file will be uploaded. Note that it is 
      not possible to upload files which have the same name like an already existing one.
      <br>
      <h2>Creating a file</h2>
      Alternatively you can also choose to make use of the 'Create file' button. As the name sais, it is used to create .aml files directly 
      in the AML-NJoSQL Database. Clicking it will also show you an alert box which looks very similar to the one where you can upload. Like 
      the upload process there are 'Cancel' and 'Upload' buttons with the same functionallity. This time you have an input line which sais 
      'Name'. Use this to declare a name but again, remember to choose a unique name because otherwise you will get an error. As you can see
      on the right side of the inputline, you dont have to to write .aml as file type. The software does this automatically for you. The big
      Textfield down under is used to write code for your .aml file. It even supports syntax highlighting. When you are done writing you can
      confirm by clicking the 'Upload' button. You will be redirected to the main page and your file will appear at the table.
      <h2>Finding a file</h2>
      When you have uploaded several files top the database, finding specific items can get difficult. To help you to find the file you are
      searching for, AML-NoSQL provides a searchbar on the left top of the Database to specify filterwords. You can type all kinds of keywords
      for example numbers to search for the date, ID or size or type characters to search for the name of the file. A combination of numbers
      and characters is possible as well. Therefore you will be able to filter out files with attributes you don't want.
      <br>
      <h1>Using the Table</h1>
      The table is the heart of the main page. All uploaded .aml files will appear here.
      <h2>Sorting files</h2>
      In order to find them easier you can sort the table.
      To do this, just press one of the categories at the table header. You can filter ascending or descending by either ID, which is an 
      identifier given by the software to identify uiploaded files, Name, which is the name you have chosen for your file, Size, which is the 
      ize of your created file and Date, which is the Date of creation (not upload!) of your file. To switch between ascending and descending
      just click the attribute of choise once agein. By clicking it a third time you can stop sorting.
      <h2>Edit, delete or delete a file</h2>
      The item on the right side of the table header sais 'Actions'. Here you can delete, download or edit files.
            To edit a file you must click the pencil symbol. You will then be redirected to a alertbox which looks like the 'Create file' one.
      You can now change the name and edit the code of the file. Of course you can 'Cancel' the operation if you dont want to do any changes. If you are done editing just press 'Upload'.
      The second option is to Download files. Therefore you shall click on the down pointing arrow. The download will start automatically.
      The last option is to delete files. To delete a file press the dustbin button. 
      To make sure you do not delete a file on accident, you will get a second instance confirmation before the file is deleted. 
       

      <h2>Paging</h2>
      At the bottom right corner you can see the paging operations. For reasons of user experienca and performance only 10 items are shown 
      per page. Anyways you can set this number up tp 200. Just click on the number right next to 'Items per page' ans select the number of 
      choice. On the right side of this selection you can see the amount of items which are shown per page. Last but not least in the right 
      corner you can see two arrows. You can use them to navigate between multiple table pages so you dont have to show too many items per 
      page.
      <h2>Could this help you? If you still have any questions feel fre to contact us. At the 'About Us' site you can find our contact information.</h2>
</div>