<h1 id="header">DAS TEAM</h1>

<div id="team">
    <div class="member">
        <img class="teamImg" src="assets/images/team/jonas.png"/>
        <h3>Jonas Bihr</h3> 
        <p>Projektleiter</p><br>
        <p>inf19053@lehre.dhbw-stuttgart.de</p>
    </div> 
    <div class="member">
        <img class="teamImg" src="assets/images/team/johannes.jpg"/>
        <h3>Johannes Timter</h3>
        <p>Testmanager</p><br>
        <p>inf19220@lehre.dhbw-stuttgart.de</p>
    </div>
    <div class="member">
        <img class="teamImg" src="assets/images/team/Nils.png"/>
        <h3>Nils Wiesenauer</h3>
        <p>Systemarchitekt</p><br>
        <p>inf19161@lehre.dhbw-stuttgart.de</p>
    </div>
    <div class="member">
        <img class="teamImg" src="assets/images/team/namid.jpg"/>
        <h3>Namid Marxen</h3>
        <p>Produktmanager</p><br>
        <p>inf19054@lehre.dhbw-stuttgart.de</p>
    </div>
</div>