<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon">
            <mat-icon>menu</mat-icon>
        </button>
        <img id="logo" src="assets/images/logo.jpg" alt="AML NoSQL Database Manangement Logo" width="45px">
        <span>AML NoSQL Database Manangement</span>
        <span class="example-spacer"></span>
        <!-- Github -->
        <a href="https://github.com/NurNils/TINF19C_Team_5_AML_Database_Management" target="_blank" class="link">
            <button mat-icon-button class="example-icon favorite-icon">
                <mat-icon>info</mat-icon>
            </button>
        </a>
        <!-- Home -->
        <a class="link" [routerLink]="['/']">Home</a>
        <!-- About Us -->
        <a class="link" [routerLink]="['/about-us']">About Us</a>
    </mat-toolbar>
</p>
      