<p>
  <mat-toolbar color="primary" id="navbar">
    <a [routerLink]="['/']" class="home-link">
      <img
        id="logo"
        src="assets/images/logo.jpg"
        alt="AML NoSQL Database Manangement Logo"
        width="45px"
      />
      <span
        >{{ 'app' | translate }} <small>({{ appVersion }})</small></span
      >
    </a>
    <span class="spacer"></span>
    <!-- Home -->
    <a class="link" *ngIf="authService.getUsernameOrEmail()" [routerLink]="['/']">{{
      'home' | translate
    }}</a>
    <!-- About Us -->
    <a class="link" [routerLink]="['/about-us']">{{ 'about-us' | translate }}</a>
    <!-- Info -->
    <a [routerLink]="['/info']" class="link">
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>info</mat-icon>
      </button>
    </a>
    <!-- Logged In -->
    <ng-container *ngIf="authService.getUsernameOrEmail()">
      <!-- User Menu -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div id="user">
          <!-- Username -->
          <p>{{ 'user' | translate: { usernameOrEmail: authService.getUsernameOrEmail() } }}</p>
          <!-- Logout -->
          <button mat-raised-button color="warn" (click)="logout()">
            {{ 'logout' | translate }}
          </button>
        </div>
      </mat-menu>
    </ng-container>
    <!-- Login -->
    <a *ngIf="!authService.getUsernameOrEmail()" class="link" [routerLink]="['/login']"
      ><button mat-raised-button color="accent">{{ 'login' | translate }}</button></a
    >
    <!-- Language Wrapper -->
    <app-language-wrapper></app-language-wrapper>
  </mat-toolbar>
</p>
