.mat-form-field {
  font-size: 14px;
  width: 20%;
}

#uploadButton {
  float: right;
}

#table {
  margin: 20px auto;
  table {
    width: 100%;
  }
}

#idCol {
  display: none !important;
  visibility: hidden;
}

th {
  font-weight: bold;
}

td,
th {
  width: 25%;
  font-size: 15px;
}
