.mat-form-field {
  font-size: 14px;
  width: 20%;
}

#uploadButton {
  float: right;
}

#table {
  margin: 20px auto;
  max-height: 80vh;
  table {
    width: 100%;
  }
}

.mat-row {
  height: 7vh;
}

.actions-row {
  display: flex;
}

#idCol {
  display: none !important;
  visibility: hidden;
}

th {
  font-weight: bold;
}

td,
th {
  width: 23%;
  font-size: 15px;
}
