table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
  margin-left: 15px;
}

#uploadForm{
  margin-right: 15px;
  float: right;
}

#home{
  margin-left: 15px;
}

th {
  font-weight: bold;
}

td, th {
  width: 25%;
  font-size: 15px;
}