<h2 mat-dialog-title>{{ (data?.id ? 'edit-file' : 'new-file') | translate }}</h2>
<!-- Loading spinner -->
<mat-spinner *ngIf="!editFileFormGroup"></mat-spinner>

<ng-container *ngIf="editFileFormGroup">
  <mat-dialog-content>
    <p>{{ (data?.id ? 'edit-file-description' : 'new-file-description') | translate }}</p>
    <!-- Edit Form -->
    <form [formGroup]="editFileFormGroup">
      <!-- Name -->
      <mat-form-field appearance="fill">
        <mat-label>{{ 'name' | translate }}</mat-label>
        <input matInput color="primary" formControlName="name" />
      </mat-form-field>
      <br />
      <!-- Content -->
      <mat-form-field appearance="fill" class="contentField">
        <mat-label>{{ 'content' | translate }}</mat-label>
        <ngx-codemirror
          [(ngModel)]="this.text"
          [options]="{
            lineNumbers: true,
            theme: 'material',
            mode: 'xml'
          }"
        ></ngx-codemirror>
        <textarea class="contentTxtField" matInput color="primary" formControlName="content">
        </textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ 'cancel' | translate }}</button>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="editFileFormGroup.invalid"
      (click)="editFile()"
    >
      {{ 'upload' | translate }}
    </button>
  </mat-dialog-actions>
</ng-container>
